/* mixin으로 만드는 실습 문제
.card {
    display: flex;
    justify-self: center;
    align-items: center;
}

.card-item {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.product {
    display: flex;
    justify-self: right;
    align-items: right;
}

.product-item {
    width: 200px;
    height: 200px;
    border-radius: 25%;
}
*/

// mixin으로 만드는 실습 정답
@mixin flex($direction) {
    display: flex;
    justify-content: $direction;
    align-items: $direction;
}

@mixin item($length, $radius) {
    width: $length;
    height: $length;
    border-radius: $radius;
}

.card {
    @include flex(center);
}

.card-item {
    @include item(100px, 10%);
}

.product {
    @include flex(right);
}

.product-item {
    @include item(200px, 25%);
}