@mixin one {
    width: 100px;
    height: 100px;
    color: white;
    @content; // content는 {} 와 같이 중괄호와 같은 의미이다.
}

.test1 {
    @include one;
}

.test2 {
    @include one {
        background-color: red;
    }
}

.test3 {
    @include one {
        background-color: red;
        font-size: 32px;
    }
}


// 보통 이렇게 사용한다.
.test4 {
    @include one;
    background-color: red;
    font-size: 32px;
}